	   body {
			margin: 96pt; 
			background-color: #ddddff;
			border: #3333ff inset 12px;
			padding: 24px;}
			
			:link {
				font-size: 18pt;
				font-family: fantasy;
			}
			a:visted { font-size: 18pt;
				font-family: fantasy;
			}
				
			
			.odds {
				font-family: serif;
				font-variant: small-caps
				font-size: 24;
				text-align: center;
			}
				
			#second {
				color: #aaffaa;
				font-weight